@import "config";
@import "mixins";

// Columns System
.column-2,
.column-3,
.column-4 {
  display: grid;

  .column {
    .box-sizing;
    padding-left: @grid-gutter-width/2;

    &:first-child {
      padding-left: 0;
      padding-right: @grid-gutter-width/2;
    }
  }
}

.column-2 {
  grid-template-columns: auto auto;
}

.column-3 {
  grid-template-columns: auto auto auto;
}

.column-4 {
  grid-template-columns: auto auto auto auto;
}
